@model YothingoSprint1.Models.Quotation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Invoice</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Supplier.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuotationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuotationDate)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountDue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountDue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-success" })|
    @Html.ActionLink("<<Back", "Index", new { id = Model.ID }, new { @class = "btn btn-info" })
</p>
