@model IEnumerable<YothingoSprint1.Models.Event>

@{
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

<h2>Meetings</h2>

<p>
    <input type="button" value="Schedule Meeting" onclick="location.href='@Url.Action("Create", "Events")'" class="btn btn-primary" />
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Description)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Start)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.End)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThemeColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsFullDay)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.End)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThemeColor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsFullDay)
                </td>*@
            @if (Request.IsAuthenticated && User.IsInRole("Clerk"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EventID }, new { @class = "btn btn-success" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.EventID }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.EventID }, new { @class = "btn btn-danger" })
                </td>
            }


        </tr>
    }

</table>
