@model YothingoSprint1.Models.Room



    @{
        ViewBag.Title = "Edit Status Details";
    }
    
        <h2>Status</h2>
        <hr>
        <div>
            <h4>Current Status Details</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.FridgeDescription)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FridgeDescription)
                </dd>
            </dl>
        </div>
        <h3><b>Change Details</b></h3>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ID)
            <div class="form-group">
                <div class="col-md-10">
                    <h5>Status Name</h5>
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Status Name" } })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <h5>Status Description:</h5>
            <b>&#9432; </b>
            Drag and type Description

            <div class="form-group">
                <div class="col-md-10">
                    <h5>Status Description</h5>
                    @Html.TextAreaFor(model => model.FridgeDescription, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Status Description " } })
                    @Html.ValidationMessageFor(model => model.FridgeDescription)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input type="button" value="Back" onclick="location.href='@Url.Action("Index", "Status")'" class="btn btn-primary" />|
                    <input type="submit" value="Change Details" class="btn btn-success" />
                </div>
            </div>
        </div>

        }
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>