@model IEnumerable<YothingoSprint1.Models.Request>

@{
    ViewBag.Title = "My Requests";
}

<h2>My Requests</h2>
<p>
    <input type="button" value="Make Request" onclick="location.href='@Url.Action("Create", "Requests")'" class="btn btn-primary" />
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Request_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Request_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestDate)
            </td>
            <td>
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-success" })
                }


                @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-info" })|
                @Html.ActionLink("Quotation", "IndexCustomer", "Quotation", new { id = item.ID }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Design", "IndexCustomer", "Design", new { id = item.ID }, new { @class = "btn btn-info" })
            </td>
        </tr>
    }

</table>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/5bdc1e588cf925451c51ca4a/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->