@using HtmlHelpers.BeginCollectionItem

@model YothingoSprint1.Models.ReportItem



    <tr class="">
        @using (Html.BeginCollectionItem("ReportItems"))
        {
            <td class="hidden">@Html.HiddenFor(model => model.ID)</td>
            <td class="">
                @Html.DropDownListFor(model => model.PhaseID,
                                             new SelectList(@ViewBag.Phases, "ID", "Name"),
                                                "Select Phase",
                                                new
                                                {
                                                    @class = "form-control",
                                                    onchange = "onProductSelectIndexChange($(this));"
                                                })
                @Html.ValidationMessageFor(model => model.PhaseID)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Phase.Name, new { @class = "form-control", disabled = "disabled" })
                @*@Html.ValidationMessageFor(model => model.Part.Description)*@
            </td>
            <td>
                @Html.TextBoxFor(model => model.Phase.Description, new { @class = "form-control", disabled = "disabled" })
                @*@Html.ValidationMessageFor(model => model.Part.Description)*@
            </td>
            <td class="text-center"><button class="btn btn-link" onclick="$(this).closest('tr').remove(); updateTotals();"><span class="glyphicon glyphicon-trash"></span></button></td>
        }
        @*@section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }*@

    </tr>
    </div>