@model YothingoSprint1.Models.Report

<fieldset>

    <!-- Form Name -->
    <legend>Totals</legend>

    <!-- Text input-->
    @*<div class="form-group">
        <label class="col-md-4 control-label" for="subtotal">@Html.DisplayNameFor(model => model.SubTotal)</label>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.SubTotal, new { @class = "form-control", disabled = "disabled" })
        </div>
    </div>*@

    @*<div class="form-group">
        <label class="col-md-4 control-label">@Html.DisplayNameFor(model => model.SalesTaxPercent)</label>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.SalesTaxPercent, new { @onchange = "updateTotals();", @class = "form-control ", disabled ="disabled" })
            <span>%</span>
            @Html.TextBoxFor(model => model.TotalSalesTax, new { @class = "form-control", disabled = "disabled" })
        </div>
    </div>*@

    @*<div class="form-group">
        <label class="col-md-4 control-label" for="grandtotal">@Html.DisplayNameFor(model => model.GrandTotal)</label>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.GrandTotal, new { @class = "form-control", disabled = "disabled" })
        </div>
    </div>*@

</fieldset>
