@model IEnumerable<YothingoSprint1.Models.RequestMeeting>

    @{
        ViewBag.Title = "All Meetings";
    }

    <h2>All Customer Meetings</h2>

    @*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.applicationUser.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.applicationUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agenda)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Description)
            </td>

            <td>
                @Html.ActionLink("Details", "Details", new { id = item.MeetingRequestId }, new { @class = "btn btn-info" })
            </td>
        </tr>
        }

    </table>