@model IEnumerable<YothingoSprint1.Models.Design>
<div class="jumbotron" style="border-color:aqua">
    @{
        //ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
    }


    <h2>Designs</h2>

    <p>
        <input type="button" value="Upload Design" onclick="location.href='@Url.Action("Create", "Design")'" class="btn btn-primary" />
    </p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request.Request_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Request.Request_Number)
                </td>
                <td>
                    <img src="@Url.Action("RenderImage", "Design", new { id = item.DesignId})" width="150" height="160" />
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.DesignId }, new { @class = "btn btn-success" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.DesignId }, new { @class = "btn btn-info" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.DesignId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
</div>