@model YothingoSprint1.Models.ReportItem

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>InvoiceItem</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.PhaseID, "PhaseID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PhaseID", String.Empty)
                @Html.ValidationMessageFor(model => model.PhaseID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReportID, "InvoiceID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ReportID", String.Empty)
                @Html.ValidationMessageFor(model => model.ReportID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantity)
                @Html.ValidationMessageFor(model => model.Quantity)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @*@Html.ActionLink("<<Back", "Index", new { id = Model.ID }, new { @class = "btn btn-info" })*@
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

